---
title: Phil Lennon - Freelance Frontend Web Development and WordPress services, based in Manchester
description: I am Phil James Lennon - Freelance Frontend Web Development and WordPress services, based in Manchester
---

{{#extend "master"}}
  {{#content "body"}}
    <div class="container promo">
      <div class="summary">
        <h1 class="h1 summary__header">I am Phil James Lennon</h1>
        <h2 class="h2 summary__subheader">A freelance frontend and WordPress developer based in Manchester, UK</h2>
        <h3 class="h3 summary__tagline">Specializing in accessibility and frontend workflow<sup><a class="footnote" href="#holding-fn1">*</a></sup></h3>
        <p id="holding-fn1" class="summary__footnote">* But more than happy to integrate into yours!</p>
      </div>

      <div class="examples">
        <p>I have worked in:</p>
        <ul class="examples__list">
          <li class="examples__item">Amaze (Extended contract)</li>
          <li class="examples__item">Havas Lynx (Extended contract)</li>
          <li class="examples__item">Building Blocks (x2)</li>
          <li class="examples__item">Loaf Creative</li>
          <li class="examples__item">Uniform Communications</li>
          <li class="examples__item">Health and Safety Executive</li>
        </ul>
        <p>The majority of my work is under NDA, but I can show:</p>
        <ul class="examples__list">
          <li class="examples__item"><a href="http://nspcc.org.uk">NSPCC</a> - Frontend (2014)</li>
          <li class="examples__item"><a href="http://wirralwaters.co.uk">Wirral Waters</a> - Frontend &amp; WordPress (2014)</li>
          <li class="examples__item"><a href="http://thecrabbiesgrandnational.co.uk">The Crabbies Grand National</a> - Frontend &amp; WordPress (2013)</li>
        </ul>
      </div>

      <div class="tools">
        <p>I can use your workflow or I can immediately start working using my own open source projects:</p>
        <ul class="tools__list">
          <li class="tools__item"><a href="https://github.com/PJL101/fedkit-assemble/">fedkit-assemble</a> - Frontend kit with Assemble. <br /> Stable and well tested with documentation in progress</li>
          <li class="tools__item"><a href="https://github.com/PJL101/wpkit/">wpkit</a> - WordPress kit with vagrant. <br /> Very early in development</li>
        </ul>
        <p>I have assisted several agencies with establishing a modern frontend workflow. Unfortunately this isn't something I can demonstrate easily here!</p>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
