---
title: I am Phil Lennon - Freelance Frontend Web Development and WordPress services, based in Manchester
description: I am Phil Lennon - Freelance Frontend Web Development and WordPress services, based in Manchester
---

{{#extend "master"}}
  {{#content "body"}}
    <div class="container promo">
      <div class="promo__summary">
        summary/agencies worked
      </div>

      <div class="promo__examples">
        examples
      </div>

      <div class="promo__tools">
        tools/open source
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}
  {{/content}}
{{/extend}}
