---
title: Homepage
description: Test description
---

{{#extend "master"}}
  {{#content "body"}}
    <div class="container grid-test">
      <div class="grid-test__copy">
        <h1>PJL101 - Website coming soon</h1>
      </div>

      <div class="grid-test__sidebar">
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}
    <h1>Gutter region test</h1>
  {{/content}}
{{/extend}}
