<footer class="footer" role="contentinfo">
    <div class="container">
      <div id="contact" class="contact">
        <h1 class="h3 contact__header">Contact me by:</h1>

        <ul class="contact__list">
          <li class="contact__item">Email: <a href="mailto:enquiry@iampjl.co.uk">enquiry@iampjl.co.uk</a></li>
          <li class="contact__item">Telephone: <a href="tel:03334441250">0333 444 1250</a></li>
          <li class="contact__item">Twitter: <a href="https://twitter.com/PJL101">@PJL101</a></li>
          <li class="contact__item">LinkedIn: <a href="https://uk.linkedin.com/in/phillennon">Profile</a></li>
        </ul>
      </div>
    </div>

    <div class="site-details">
      <div class="container">
        <ul class="site-details__list">
          <!--<li class="site-details__item"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">iampjl.co.uk site content</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://iampjl.co.uk" property="cc:attributionName" rel="cc:attributionURL">Phil Lennon</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</li>-->
          <li class="site-details__item">Website source code is available and automatically published on <a href="https://github.com/PJL101/iampjl.co.uk">GitHub</a>.</li>
          <li class="site-details__item">Akuda Ltd. | Registered in England no: 8149695</li>
        </ul>
    </div>
  </div>
</footer>
