<header class="header" role="banner">
  <div class="container header__message">
    <a href="#contact" class="btn header__message__btn header__message__btn--availability">Available from October 5th</a>
  </div>
</header>
