<header class="header" role="banner">
  <div class="container header__message">
    <a href="#contact" class="btn header__message__btn header__message__btn--availability">Available from February 2016</a>
    <a href="http://bit.ly/life-list" class="btn header__message__btn header__message__btn--list">My Trello Life List</a>
  </div>
</header>
