<header class="header" role="banner">
  <div class="container header__message">
    <a href="#contact" class="btn header__message__btn header__message__btn--availability">Available from late September</a> <a href="https://www.manchesterdigital.com/candidates" title="Links to Manchester Digital Council website" class="btn header__message__btn header__message__btn--council">Currently running for Election in the Manchester Digital Council</a>
  </div>
</header>
