<header class="header" role="banner">
  <div class="container">
    <div class="availability">
      <a href="#contact" class="btn availability__btn">Available from 3 August</a>
    </div>
  </div>
</header>
