

.contact {
  margin-bottom: 40px;
}

.site-details {
  padding: 20px 0 10px 0;

  background-color: $brand-b;

  &__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    margin-bottom: 10px;

    img {
      margin-right: 10px;
    }
  }
}
