.header {
  margin-bottom: 40px;  
  background-color: $brand-b;
}

.availability {
  &__btn {
    color: inherit;
    text-decoration: none;
    padding: 20px 40px;
    margin-left: -40px;
    margin-right: -40px;
    display: block;
  }
}
