.header {
  overflow: hidden;

  margin-bottom: 40px;

  background-color: $brand-b;

  &__message {
    &__btn {
      display: block;

      margin-right: -20px;
      margin-left: -20px;
      padding: 20px 20px;

      color: inherit;

      @include mq($from: tablet) {
        margin-right: -40px;
        margin-left: -40px;
        padding: 20px 40px;
      }

      &--availability {
        float: left;
      }
    }
  }
}
