.summary {
  margin-bottom: 60px;

  @include cf();

  &__header {
    margin-bottom: 40px;
  }

  &__subheader {
    margin-bottom: 40px;
  }

  &__tagline {
    margin-bottom: 10px;
  }
}

.examples {
  margin-bottom: 20px;

  @include mq($from: tablet) {
    @include span(6 of $tablet-column);
  }

  &__list {
    margin-bottom: 40px;
  }
}

.tools {
  margin-bottom: 20px;

  @include mq($from: tablet) {
    @include span(6 of $tablet-column last);
  }

  &__list {
    margin-bottom: 40px;
  }
}
