body {
  font-family: $font-primary;
  font-weight: $font-primary-weight;
  color: $brand-a;
}

.h1,
.h2,
.h3 {
  font-family: $font-headline;
  font-weight: $font-headline-weight;
  margin-top: 0;
}

.h1 {
  font-size: 32px;
  line-height: 1.1;

  @include mq($from: tablet) {
    font-size: 81px;
  }
}

.h2 {
  font-size: 24px;
  line-height: 1.2;

  @include mq($from: tablet) {
    font-size: 54px;
  }
}

.h3 {
  font-size: 16px;

  @include mq($from: tablet) {
    font-size: 36px;
  }
}

.footnote {
  color: inherit;
  text-decoration: none;
}

a {
  color: $brand-a;

  &:hover {
    text-decoration: underline;
  }
}
